<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | DATA STRUCTURES AND ALGORITHMS</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Strawhat1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='images/styleProfile.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">DATA STRUCTURES AND ALGORITHMS | PROFILE</div>
        <ul class="nav-links">
            <li><a href="/">Home Page</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
    </nav>
    <h1>Hello! My name is Hector Troy M. Tutol</h1>
    <h2>I'm currently a second year computer engineering student at Polytechnic University of the Philippines</h2>
    <p>Do you want to know more about me?</p>
    <div class="images-row">
        <img src="static/images/LiterallyMe.jfif">
        <img src="static/images/LiterallyMe2.jfif">
        <img src="static/images/LiterallyMe3.jfif">
        <img src="static/images/LiterallyMe4.jfif">
    </div>

    <div class="facts-container">
        <div class="fact-section">
            <h4>Facts About Me!</h4>
            <ul class="facts-list">
                <li>Loves playing games such as: League of Legends, Apex, and Core Keeper</li>
                <li>Likes to read mangas, manwhas, and a few light novels</li>
                <li>Mostly cooks at home</li>
                <li>Loves One Piece!</li>
            </ul>
        </div>

        <div class="details-section">
            <h4>Personal Details About Me!</h4>
            <ul class="details-list">
                <li>Birthday: January 21, 2006</li>
                <li>Height: 171cm</li>
                <li>Studied at Golden Faith Academy</li>
                <li>Currently studying at Polytechnic University of the Philippines</li>
            </ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Franzen Bisaya Society. All rights reserved.</p>
    </footer>
</body>
</html>
