<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Uppercase | DATA STRUCTURES AND ALGORITHMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Strawhat1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='images/styleUpper.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">DATA STRUCTURES AND ALGORITHMS | TO UPPERCASE</div>
        <ul class="nav-links">
            <li><a href="/">Home Page</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="centered-content">
        <h1>Convert String to Uppercase</h1>

    <form action="/touppercase" method="post">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert">
    </form>

        {% if result %}
        <p>Converted string: {{ result }}</p>
        {% endif %}
    </div>

    <a href="/works" class="go-back-button">Go Back</a>

    <footer>
        <p>&copy; 2025 Franzen Bisaya Society. All rights reserved.</p>
    </footer> 
</body>
</html>
